.app-footer {
  cursor: default;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-footer__copyright {
  background: #555;
  padding: 5px 2rem;
  color: #fff;
  font-weight: 500;
}